@media (min-width: 668px) and (max-width: 1024px) {
  .container-inner {
    width: 280px;
  }
  .logo.nav {
    font-size: 21px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .logo.landing {
    font-size: 28px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .logo.login {
    font-size: 28px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .logout-copy {
    font-size: 18px;
    top: 4px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .layout-line.description {
    width: 260px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
  }
}
