/*
  * Colors
  ** Blue #1FBAD6
**/


/*
  * Containers
**/

.container {
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.container-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100px;
  width: 800px;
  height: 600px;
  margin: auto;
  text-align: center;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


/*
  * Location Icon
**/

.icon-location {
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  color: white;
  font-size: 24px;
  width: auto;
  width: 27px;
  margin: auto;
  cursor: pointer;
}

.icon-location:hover {
  color: #1FBAD6;
}


/*
  * Logo
**/

.logo {
  position: relative;
  color: #1FBAD6;
  font-size: 24px;
  font-family: 'geomanist_regularregular';
  margin-bottom: 20px;
}


/*
  * Location and Category Inputs
**/

.location,
.category {
  position: relative;
  margin: auto;
  background: transparent;
  height: 10px;
  color: #fff;
  font-size: 14px;
  padding: 15px;
  border: transparent;
  border-bottom: 1px solid white;
  width: 250px;
  margin-bottom: 30px;
  display: block;
}

.location {
  margin-bottom: 30px;
}

.submit-btn {
  position: relative;
  text-align: center;
  margin: auto;
  width: 265px;
  height: 50px;
  background-color: #1FBAD6;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.submit-btn > p {
  position: relative;
  top: 12px;
  font-family: 'geomanist_regularregular';
  letter-spacing: 5px;
  font-size: 18px;
  cursor: pointer;
}
