/*
  ** Dark Blue #09091a
  ** Light Blue #1FBAD6
**/


/*
  * Containers
**/

.container {
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.container-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100px;
  width: 800px;
  height: 600px;
  margin: auto;
  text-align: center;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


/*
  * Location Icon
**/

.icon-location {
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  color: white;
  font-size: 24px;
  width: auto;
  width: 27px;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.icon-location:hover {
  color: #1FBAD6;
}

.loader-big {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-color: black;
  -webkit-animation: loadLocation .9s infinite linear;
  animation: loadLocation .9s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  margin: auto;
  top: 200px;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  background: black;
  -webkit-animation: loadLocation .9s infinite linear;
  animation: loadLocation .9s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  margin: auto;
  margin-bottom: 10px;
}

.loader:before,
.loader-big:before {
  width: 50%;
  height: 50%;
  background: #1FBAD6;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after,
.loader-big:after {
  background: rgba(225, 225, 225, .3);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes loadLocation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadLocation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*
  * Logo
**/

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'geomanist_regularregular';
  font-size: 24px;
  color: #1FBAD6;
}

.formatted-address {
  position: relative;
  top: 38px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  padding-bottom: 55px;
}


/*
  * Location and Category Inputs
**/

.location,
.category {
  position: relative;
  margin: auto;
  background: transparent;
  height: 10px;
  color: #fff;
  font-size: 14px;
  padding: 15px;
  border: transparent;
  border-bottom: 1px solid white;
  width: 250px;
  margin-bottom: 30px;
  display: block;
  padding-top: 45px;
}

.location {
  margin-bottom: 30px;
}

.submit-btn {
  position: relative;
  text-align: center;
  margin: auto;
  width: 265px;
  height: 50px;
  background-color: #1FBAD6;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.submit-btn:hover {
  -moz-box-shadow: inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow: inset 0 0 15px #000000;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.submit-btn > p {
  position: relative;
  top: 12px;
  font-family: 'geomanist_regularregular';
  letter-spacing: 4px;
  font-size: 18px;
  cursor: pointer;
}
