/*
  ** Dark Blue #09091a
  ** Light Blue #1FBAD6
**/

.distance,
.duration,
.cost {
  position: relative;
  color: #efeffe;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  font-weight: 400;
}

.details {
  position: relative;
  bottom: 68px;
  margin: auto;
  left: 0;
  right: 0;
  color: #1FBAD6;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.distance {
  position: relative;
  padding-top: 11px;
}

.layout-container {
  position: relative;
  text-align: center;
  padding: 100px 20px 60px 20px;
}

.layout-container-inner {
  position: relative;
  margin: auto;
  width: 240px;
  height: 400px;
  display: inline-block;
  background: transparent;
  border: 1px solid white;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
  overflow: hidden;
}

.layout-name {
  color: #1FBAD6;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5px;
}

.layout-street {
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 0;
}

.layout-city-state-zip {
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5px;
}

.layout-phone {
  color: #1FBAD6;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5px;
}

.layout-line {
  position: relative;
  width: 150px;
  background: transparent;
  border-bottom: 1px solid white;
  margin: auto;
  margin-bottom: 10px;
}

.layout-rating-img {
  position: relative;
  display: block;
  margin: auto;
  padding-bottom: 5px;
}

.layout-rating-number {
  position: relative;
  display: inline-block;
  color: #efeffe;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5px;
}

.layout-rating-count {
  position: relative;
  display: inline-block;
  color: #efeffe;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 8px;
}

.layout-img {
  position: relative;
  display: block;
  border: 1px solid rgba(225, 225, 225, .7);
  margin: auto;
  margin-bottom: 7px;
      height: 100px;
}

.yelp-logo {
  position: relative;
  display: block;
  width: 50px;
  margin: auto;
  padding-bottom: 8px;
}

.layout-snippet {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  overflow: hidden;
  padding: 0 10px;
}

.call-uber-btn {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: #1FBAD6;
  border-radius: 5px 5px 0 0;
  color: white;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.call-uber-btn > p {
  position: relative;
  top: 14px;
  font-family: 'geomanist_regularregular';
  letter-spacing: 5px;
  font-size: 16px;
  cursor: pointer;
}

.status {
  position: absolute;
  margin: auto;
  background: black;
  width: 400px;
  height: 400px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid white;
  text-align: center;
  z-index: 1;
}

.request-status {
  position: relative;
  color: #1FBAD6;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 15px;
  text-transform: uppercase;
}

.request-status.copy {
  position: relative;
  color: #efeffe;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 8px;
  padding-top: 5px;
  text-transform: capitalize;
}

.request-location {
  position: relative;
  font-size: 14px;
  color: #1FBAD6;
  font-family: 'Open Sans', sans-serif;
  padding-top: 25px;
}

.request-location.address {
  position: relative;
  color: #efeffe;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 8px;
  padding-top: 5px;
}

.cancel-uber-btn {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: #1FBAD6;
  border-radius: 5px 5px 0 0;
  color: white;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.cancel-uber-btn > p {
  position: relative;
  top: 14px;
  font-family: 'geomanist_regularregular';
  letter-spacing: 5px;
  font-size: 16px;
  cursor: pointer;
}

.status-eta-container {
  position: relative;
  display: block;
  height: auto;
  height: 60px;
}

.status-eta-left {
  position: absolute;
  width: 50%;
  height: 100px;
}

.status-eta-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100px;
}

.uber-details-btn {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 250px;
  height: 65px;
  border-radius: 5px 5px 0 0;
  color: white;
  cursor: pointer;
  left: 0;
  right: 0;
  cursor: pointer;
  border: 1px solid #1FBAD6;
  bottom: 0;
  background-color: transparent;
}

.uber-detail-line {
  position: absolute;
  width: 200px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #efefef;
}

.loader.estimate {
  position: relative;
  top: 20px;
  margin: auto;
}

.estimate-container {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 65px;
  color: #1FBAD6;
  text-align: center;
  left: 0;
  padding: 0 0 5px;
  bottom: 0;
  line-height: 17px;
}

.loader-container {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 70px;
  color: #1FBAD6;
  text-align: center;
  padding: 0;
  left: 0;
  padding: 10px;
  bottom: 0;
}
