<div class='container'>
  <div class='container-inner'>
    <div ng-navigator
         get-location='getLocation'
         on-submit='onSubmit'
         formatted-address='formattedAddress'
         show-loader='showLoader'
         on-login='onLogin'
         show-results='showResults'
         line-one='lineOne'
         line-two='lineTwo'>
      <div ng-hide='showResults'>
        <div ng-if='!showLoader' ng-click='getLocation();' class="icon-location"></div>
        <div ng-if='showLoader' class="loader"></div>
      </div>
      <p class='logo'>you.are.here</p>
      <div ng-show='showResults'>
      <p class='formatted-address'>{{ lineOne }}</p>
      <p class='formatted-address'>{{ lineTwo }}</p>
        <div class='submit-btn' ng-click='onLogin();'>
          <p>LOGIN WITH UBER</p>
        </div>
      </div>
    </div ng-navigator>
  </div>
</div>
