<div ng-navbar></div ng-navbar>
<div class='container'>
  <div class='container-inner search'>
    <div ng-search 
         on-search='onSearch' 
         search-term='searchTerm'
         formatted-address='formattedAddress'
         address-line-one='addressLineOne'
         address-line-two='addressLineTwo'>
      <!-- <p class="navbar-logo"> -->
        <!-- you.are.here -->
      <!-- </p> -->
      <input class='category' type='text' ng-model='searchTerm' placeholder="tacos, dinner, bars, Max's">
      <div class='submit-btn' ng-click='onSearch();'>
        <p>SEARCH</p>
      </div>
    </div ng-search>
  </div>
</div>
