/* Iphone 6 */

@media (min-width: 321px) and (max-width: 667px) {
  .container-inner {
    width: 320px;
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    margin: auto;
    text-align: center;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}


/* Iphone 5, 5s */

@media (min-width: 320px) and (max-width: 568px) {
  .container-inner {
    width: 280px;
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    margin: auto;
    text-align: center;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}
